.p-component {
    font-family: "robotoRegular" !important;
}

.p-inputtext {
    padding: 12px !important;
}

.p-inputtext:enabled:hover {
    border-color: #00b6b4 !important;
}

.p-inputtext:enabled:focus {
    box-shadow: none !important;
    border-color: #00b6b4 !important;
}