.main-div {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;  
}

.wrap-login100 {
    font-family: var(--font-regular);
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
  
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
    .wrap-login100 {
      padding: 77px 15px 33px 15px;
    }
}

.login-label{
    color: #9fa19f;
}

ion-button {
    --background: var(--ion-color-primary);
    height: 40px;
}

.create-account{
    color: var(--ion-color-primary);
}

.passwordInput{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.dispPass{
    color: #000 !important;
}